[Unit]
Description=Description for sample script goes here
After=network.target

[Service]
Type=sysloggen
ExecStart=/var/tmp/syslog-generator.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
